<a href="https://colab.research.google.com/github/hbechara/PythonProg/blob/main/1.Fundamentals/ClassroomExamples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello and welcome to PP")

Hello and welcome to PP

In [ ]:
print("This is the first of the strings", "This is the second", sep = "\n",end="\n")

This is the first of the strings
This is the second

In [ ]:
print("One","string","to","rule","them","all",sep=' ',end='\n')
print("One","string","to","find","them", sep=',',end='!')
print("One","string","to","bring","them","all",sep='\n',end=':)')
print("And","in","the","darkness","bind","them",sep='\t',end='\n')

One string to rule them all
One,string,to,find,them!One
string
to
bring
them
all:)And	in	the	darkness	bind	them

In [ ]:
name = input("Please enter your name:")

print(name)
print("name")

Please enter your name:Hannah
Hannah
name

In [ ]:
myinteger = 1
type(myinteger)

int

In [ ]:
print(notmygreeting)

In [ ]:
#Solution

yourname = input("What is your name?")
print("Your name is: " + yourname)

In [ ]:
a = "1"
b = "2"
temp = a
a = b
b = temp 
print (a, b)

2 1

In [ ]:
a,b = b,a

In [ ]:
# how to swap the values of two variables
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
print("Before swap: a=", a, " b=", b, sep="")
tmp = a
a = b
b = tmp
print("After swap a=", a, " b=", b, sep="")

In [ ]:
condition = True 
other_condition = False

In [ ]:
other_condition and other_condition

False

In [ ]:
a = 12 
b = 1
a + b

13

In [ ]:
a = int(input("Please enter the first number"))
b = int(input("Please enter the second number"))

a + b

Please enter the first number12
Please enter the second number12

24

In [ ]:
string = "this is a \n \"string\""
print(string)

this is a
 "string"

In [ ]:
string2 = string.upper()
print(string2)

THIS IS A
 "STRING"

In [ ]:
string3 = string2.replace("THIS", "THAT")
print(string3)

THAT IS A
 "STRING"


  

Exercise 1:

Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.



Exercise 2: Spell Checker

Write a program that presents this sentence to the user: This sentens has a spelling error in it Prompt the user to correct the sentence word by word by typing in the word they want corrected, followed by the correct version. E.g. sentens sentence Echo the corrected sentence back to the user.

In [ ]:
text= "This sentens has a spelling error in it."

print ("The following sentence has an error. Follow the directions to fix it:" , text)


error= input("\n What word would you like to replace?")

insert=input("\n What word would you like instead?")

text_edit=text.replace(error, insert)

print ("\nHere's the corrected sentence:", text_edit)

The following sentence has an error. Follow the directions to fix it: This sentens has a spelling error in it.

 What word would you like to replace?sentens

 What word would you like instead?sentence

sHere's the corrected sentence: This sentence has a spelling error in it.

In [ ]:
string = "This sentens has a spelling error in it"

print(string)

string2= string.replace(input('Please insert the wrong word: '), input('Please insert the correct word: '))

print(string2)